In [42]:
import pandas as pd
import numpy as np
import feather
import os
pd.set_option('display.max_Columns', 300)

In [43]:
ball_csv = 'submit/{}/ball_{}.csv'
course_csv = 'submit/{}/course_{}.csv'

ball_ensmb_csv = 'submit/{}/ball_ensemble_{}_{}.csv'
course_ensmb_csv = 'submit/{}/course_ensemble_{}_{}.csv'

In [44]:
model_No = 34
SUBMIT_PATH = 'submit/{}'
os.makedirs(SUBMIT_PATH.format(model_No), exist_ok=True)

In [45]:
model_1 = 32
model_2 = 33

ball_1_csv = ball_csv.format(model_1, model_1)
course_1_csv = course_csv.format(model_1, model_1)
ball_2_csv = ball_csv.format(model_2, model_2)
course_2_csv = course_csv.format(model_2, model_2)

submit_ball_csv = ball_ensmb_csv.format(model_No, model_1, model_2)
submit_course_csv = course_ensmb_csv.format(model_No, model_1, model_2)

In [46]:
ball_kind = ['straight', 'curve', 'slider', 'shoot', 'fork', 'changeup', 'sinker', 'cutball']
course_kind = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
ball_header = ['index'] + ball_kind
course_header = ['index'] + course_kind

In [47]:
ball_1 = pd.read_csv(ball_1_csv, names=ball_header)
ball_2 = pd.read_csv(ball_2_csv, names=ball_header)
course_1 = pd.read_csv(course_1_csv, names=course_header)
course_2 = pd.read_csv(course_2_csv, names=course_header)
print(ball_1.shape)
print(ball_2.shape)
print(course_1.shape)
print(course_2.shape)

(521650, 9)
(521650, 9)
(521650, 14)
(521650, 14)

In [48]:
ball_1.head(5)

,index,straight,curve,slider,shoot,fork,changeup,sinker,cutball
0,0,0.303740,0.059267,0.110352,0.424663,0.003029,0.000156,0.000030,0.098763
1,1,0.310100,0.093061,0.125248,0.416690,0.004302,0.000137,0.000018,0.050444
2,2,0.328112,0.089767,0.136547,0.210985,0.152175,0.000876,0.000098,0.081440
3,3,0.256042,0.133924,0.166290,0.369295,0.014055,0.000315,0.000031,0.060048
4,4,0.149581,0.038734,0.286324,0.421300,0.006392,0.000297,0.000047,0.097326

In [49]:
ball_2.head(5)

,index,straight,curve,slider,shoot,fork,changeup,sinker,cutball
0,0,0.309292,0.083681,0.156731,0.325671,0.006403,0.000142,0.000016,0.118065
1,1,0.293407,0.124788,0.149290,0.341724,0.007844,0.000160,0.000014,0.082774
2,2,0.319900,0.104587,0.129159,0.189481,0.164195,0.000809,0.000043,0.091826
3,3,0.267012,0.154534,0.170258,0.298991,0.019959,0.000286,0.000019,0.088941
4,4,0.159461,0.056738,0.269994,0.369218,0.009647,0.000212,0.000029,0.134702

### 単純に平均をとる

In [50]:
ball_ensemble = pd.DataFrame(ball_1['index'])
for ball in ball_kind:
    ball_ensemble[ball] = (ball_1[ball] + ball_2[ball])/2

ball_ensemble.to_csv(submit_ball_csv, header=False, index=False)
print(submit_ball_csv, ball_ensemble.shape)

submit/34/ball_ensemble_32_33.csv (521650, 9)

In [51]:
course_ensemble = pd.DataFrame(course_1['index'])
for course in course_kind:
    course_ensemble[course] = (course_1[course] + course_2[course])/2

course_ensemble.to_csv(submit_course_csv, header=False, index=False)
print(submit_course_csv, course_ensemble.shape)

submit/34/course_ensemble_32_33.csv (521650, 14)