In [1]:
import pandas as pd
import numpy as np
import feather
import os
pd.set_option('display.max_Columns', 300)

In [2]:
ball_csv = 'submit/{}/ball_{}_{}.csv'
# course_csv = 'submit/{}/course_{}_{}.csv'

# ball_ensmb_csv = 'submit/{}/ball_ensemble_{}_{}.csv'
# course_ensmb_csv = 'submit/{}/course_ensemble_{}_{}.csv'

In [3]:
model_No = 59
# SUBMIT_PATH = 'submit/{}'
# os.makedirs(SUBMIT_PATH.format(model_No), exist_ok=True)

In [5]:
sub_str1 = 'dart_multi_error'
sub_str2 = 'gbdt_multi_error'

ball_1_csv = ball_csv.format(model_No, model_No, sub_str1)
# course_1_csv = course_csv.format(model_1, model_1, sub_str1)
ball_2_csv = ball_csv.format(model_No, model_No, sub_str2)
# course_2_csv = course_csv.format(model_2, model_2, sub_str2)

# submit_ball_csv = ball_ensmb_csv.format(model_No, model_1, model_2)
# submit_course_csv = course_ensmb_csv.format(model_No, model_1, model_2)

In [6]:
ball_kind = ['straight', 'curve', 'slider', 'shoot', 'fork', 'changeup', 'sinker', 'cutball']
course_kind = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
ball_header = ['index'] + ball_kind
course_header = ['index'] + course_kind

In [7]:
ball_1 = pd.read_csv(ball_1_csv, names=ball_header)
ball_2 = pd.read_csv(ball_2_csv, names=ball_header)
# course_1 = pd.read_csv(course_1_csv, names=course_header)
# course_2 = pd.read_csv(course_2_csv, names=course_header)
print(ball_1.shape)
print(ball_2.shape)
# print(course_1.shape)
# print(course_2.shape)

(521650, 9)
(521650, 9)

In [12]:
ball_1[ball_kind].sum(axis=1)

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
521645    1.0
521646    1.0
521647    1.0
521648    1.0
521649    1.0
Length: 521650, dtype: float64

In [13]:
ball_2[ball_kind].sum(axis=1)

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
521645    1.0
521646    1.0
521647    1.0
521648    1.0
521649    1.0
Length: 521650, dtype: float64

### 単純に平均をとる

In [14]:
ball_ensemble = pd.DataFrame(ball_1['index'])
for ball in ball_kind:
#     ball_ensemble[ball] = (ball_1[ball] + ball_2[ball])/2
    ball_ensemble[ball] = np.sqrt(ball_1[ball] * ball_2[ball])

# ball_ensemble.to_csv(submit_ball_csv, header=False, index=False)
# print(submit_ball_csv, ball_ensemble.shape)

In [16]:
ball_ensemble['sum'] = ball_ensemble[ball_kind].sum(axis=1)

In [18]:
for ball in ball_kind:
    ball_ensemble[ball] = ball_ensemble[ball]/ball_ensemble['sum']

In [21]:
ball_ensemble.drop(columns=['sum'], inplace=True)
ball_ensemble.head()

,index,straight,curve,slider,shoot,fork,changeup,sinker,cutball
0,0,0.425488,0.100960,0.174594,0.202642,0.007266,0.000623,0.000070,0.088357
1,1,0.407363,0.115640,0.155938,0.240282,0.009600,0.000568,0.000044,0.070565
2,2,0.365500,0.122681,0.163660,0.131425,0.126990,0.001963,0.000098,0.087682
3,3,0.316380,0.163194,0.197028,0.206278,0.020910,0.000888,0.000066,0.095255
4,4,0.197396,0.080468,0.277412,0.301837,0.011156,0.000844,0.000079,0.130808

In [51]:
# course_ensemble = pd.DataFrame(course_1['index'])
# for course in course_kind:
#     course_ensemble[course] = (course_1[course] + course_2[course])/2

# course_ensemble.to_csv(submit_course_csv, header=False, index=False)
# print(submit_course_csv, course_ensemble.shape)

submit/34/course_ensemble_32_33.csv (521650, 14)