### player前処理(4)

In [91]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.max_Columns', 100)

In [92]:
train_player = pd.read_csv('data/train_player.csv')
test_player = pd.read_csv('data/test_player.csv')
print(train_player.shape)
print(test_player.shape)

(911, 25)
(1846, 25)

In [93]:
all_player = train_player.append(test_player, ignore_index=True)
print(all_player.shape)

(2757, 25)

### 2017年の成績

In [94]:
pit_2017 = pd.read_feather('intermediate/pit_2017.f')
bat_2017 = pd.read_feather('intermediate/bat_2017.f')
print(pit_2017.shape)
print(bat_2017.shape)

(326, 12)
(466, 3)

### 投手

In [95]:
all_player = all_player.merge(pit_2017, left_on='選手ID', right_on='投手ID', how='left')

#### 情報がない選手
2017の全体平均
- ストレート         0.468254
- カーブ               0.074725
- スライダー          0.185806
- シュート            0.070633
- フォーク            0.083013
- チェンジアップ   0.054217
- シンカー            0.011361
- カットボール      0.051992
- total投球数        788.702454
- 登板試合数:        20.766871
- 登板イニング数:  50.245399
- 対戦打者数:        199.684049

In [96]:
all_player.loc[(all_player['位置']=='投手') & all_player['投手ID'].isnull(), '投手ID'] = 0
all_player.loc[all_player['投手ID']==0, 'curve'] = 0.074725/0.468254
all_player.loc[all_player['投手ID']==0, 'slider'] = 0.185806/0.468254
all_player.loc[all_player['投手ID']==0, 'shoot'] = 0.070633/0.468254
all_player.loc[all_player['投手ID']==0, 'fork'] = 0.083013/0.468254
all_player.loc[all_player['投手ID']==0, 'changeup'] = 0.054217/0.468254
all_player.loc[all_player['投手ID']==0, 'sinker'] = 0.011361/0.468254
all_player.loc[all_player['投手ID']==0, 'cutball'] = 0.051992/0.468254
all_player.loc[all_player['投手ID']==0, 'total'] = 788.702454
all_player.loc[all_player['投手ID']==0, 'pit_game_cnt'] = 20.766871
all_player.loc[all_player['投手ID']==0, 'pit_inning_cnt'] = 50.245399
all_player.loc[all_player['投手ID']==0, 'pit_batter_cnt'] = 199.684049

### 打者

In [97]:
all_player = all_player.merge(bat_2017, left_on='選手ID', right_on='打者ID', how='left')

#### 情報がない選手
2017の全体平均
- batter_cnt: 139.688841
- bat_game_cnt: 41.448498

In [98]:
all_player.loc[(all_player['位置']!='投手') & all_player['打者ID'].isnull(), '打者ID'] = 0
all_player.loc[all_player['打者ID']==0, 'batter_cnt'] = 139.688841
all_player.loc[all_player['打者ID']==0, 'bat_game_cnt'] = 41.448498
all_player.loc[all_player['打者ID'].isnull(), 'batter_cnt'] = 0
all_player.loc[all_player['打者ID'].isnull(), 'bat_game_cnt'] = 0

In [99]:
all_player.head(10)

,年度,チームID,チーム名,選手ID,選手名,育成選手F,背番号,位置,投,打,身長,体重,生年月日,出身高校ID,出身高校名,出身大学ID,出身大学名,社会人,ドラフト年,ドラフト種別,ドラフト順位,年俸,出身国,出身地,血液型,投手ID,curve,slider,shoot,fork,changeup,sinker,cutball,total,pit_game_cnt,pit_inning_cnt,pit_batter_cnt,打者ID,batter_cnt,bat_game_cnt
0,2017,1,巨人,11343,相川 亮二,0,23,捕手,右,右,183,86,1976/7/11,30227,東京学館,0,不明,NaN,1994.0,NaN,5.0,4500,日本,千葉,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11343.0,41.000000,28.000000
1,2017,1,巨人,11726,實松 一成,0,27,捕手,右,右,177,85,1981/1/18,674,佐賀学園,0,不明,NaN,1998.0,NaN,1.0,3700,日本,佐賀,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11726.0,13.000000,7.000000
2,2017,1,巨人,12049,阿部 慎之助,0,10,内野手,右,左,180,97,1979/3/20,1114,安田学園,895,中央大,NaN,2000.0,NaN,1.0,26000,日本,千葉,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12049.0,516.000000,129.000000
3,2017,1,巨人,12107,杉内 俊哉,0,18,投手,左,左,175,82,1980/10/30,740,鹿児島実,0,不明,三菱重工長崎,2001.0,NaN,3.0,5000,日本,福岡,A,0.0,0.159582,0.396806,0.150843,0.177282,0.115785,0.024262,0.111034,788.702454,20.766871,50.245399,199.684049,NaN,0.000000,0.000000
4,2017,1,巨人,12179,大竹 寛,0,17,投手,右,右,184,94,1983/5/21,179,浦和学院,0,不明,NaN,2001.0,NaN,1.0,7000,日本,埼玉,B,12179.0,0.353535,1.043771,0.996633,0.000000,0.319865,0.000000,0.000000,1103.000000,13.000000,75.000000,300.000000,12179.0,26.000000,13.000000
5,2017,1,巨人,20182,村田 修一,0,25,内野手,右,右,177,92,1980/12/28,642,東福岡,883,日本大,NaN,2002.0,NaN,1.0,22000,日本,福岡,AB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20182.0,424.000000,118.000000
6,2017,1,巨人,400010,内海 哲也,0,26,投手,左,左,186,95,1982/4/29,385,敦賀気比,0,不明,東京ガス,2003.0,NaN,1.0,20000,日本,京都,A,400010.0,0.000000,0.816425,1.352657,0.043478,0.908213,0.000000,0.555556,968.000000,12.000000,59.000000,258.000000,400010.0,18.000000,10.000000
7,2017,1,巨人,400011,西村 健太朗,0,35,投手,右,右,184,94,1985/5/10,572,広陵,0,不明,NaN,2003.0,NaN,2.0,7800,日本,広島,A,400011.0,0.000000,0.788018,1.308756,0.479263,0.000000,0.000000,0.000000,776.000000,45.000000,55.000000,196.000000,400011.0,1.000000,1.000000
8,2017,1,巨人,400065,堂上 剛裕,0,51,外野手,右,左,184,93,1985/5/27,315,愛工大名電,0,不明,NaN,2003.0,NaN,6.0,2000,日本,愛知,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,139.688841,41.448498
9,2017,1,巨人,500019,片岡 治大,0,8,内野手,右,右,176,80,1983/2/17,144,宇都宮学園,0,不明,東京ガス,2004.0,NaN,3.0,6000,日本,千葉,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,139.688841,41.448498

### 外国人助っ人

In [100]:
all_player['foreigner']=0
all_player.loc[all_player['出身国']!='日本', 'foreigner'] = 1

### 高卒・大卒・社会人

In [101]:
all_player['company'] = 0
all_player.loc[~all_player['社会人'].isnull(), 'company'] = 1

In [102]:
all_player['univ']=0
all_player.loc[all_player['出身大学ID']!=0, 'univ'] = 1

In [103]:
all_player['highsch'] = 0
all_player.loc[(all_player['company']==0)&(all_player['univ']==0)&(all_player['foreigner']==0) , 'highsch'] = 1

### 年齢、現役年数

In [104]:
all_player['birth_day'] = pd.to_datetime(all_player['生年月日'])
all_player['age'] = all_player['年度'] - all_player['birth_day'].dt.year

In [105]:
all_player['play_year'] = all_player['年度'] - all_player['ドラフト年']
all_player.loc[all_player['ドラフト年'].isnull(), 'play_year'] = 6

### 年棒

In [106]:
all_player['salary_year'] = all_player['年俸']/ all_player['play_year'] 
all_player['salary_x_year'] = all_player['年俸'] * all_player['play_year']

### 身長・体重
BMI=体重/身長^2

In [107]:
all_player['bmi'] = all_player['体重']*10000/(all_player['身長']*all_player['身長'])

### 不要な列を削除

In [108]:
all_player.drop(
    columns=[
        'チームID', 'チーム名', '選手名', '背番号', '位置', '投', '打', '生年月日', 
        '出身高校ID', '出身高校名', '出身大学ID', '出身大学名', '社会人', 
        'ドラフト年', 'ドラフト種別', 
        '出身国', '出身地', '血液型', 'birth_day',
        '投手ID', '打者ID'
    ], inplace=True)

### rename

In [109]:
all_player.rename(columns={
    '育成選手F': 'firm',
    '身長': 'height',
    '体重': 'weight',
    'ドラフト順位': 'draft_order',
    '年俸': 'salary',
}, inplace=True)

In [110]:
all_player.head()

,年度,選手ID,firm,height,weight,draft_order,salary,curve,slider,shoot,fork,changeup,sinker,cutball,total,pit_game_cnt,pit_inning_cnt,pit_batter_cnt,batter_cnt,bat_game_cnt,foreigner,company,univ,highsch,age,play_year,salary_year,salary_x_year,bmi
0,2017,11343,0,183,86,5.0,4500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,28.0,0,0,0,1,41,23.0,195.652174,103500.0,25.680074
1,2017,11726,0,177,85,1.0,3700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,7.0,0,0,0,1,36,19.0,194.736842,70300.0,27.131412
2,2017,12049,0,180,97,1.0,26000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.0,129.0,0,0,1,0,38,17.0,1529.411765,442000.0,29.938272
3,2017,12107,0,175,82,3.0,5000,0.159582,0.396806,0.150843,0.177282,0.115785,0.024262,0.111034,788.702454,20.766871,50.245399,199.684049,0.0,0.0,0,1,0,0,37,16.0,312.500000,80000.0,26.775510
4,2017,12179,0,184,94,1.0,7000,0.353535,1.043771,0.996633,0.000000,0.319865,0.000000,0.000000,1103.000000,13.000000,75.000000,300.000000,26.0,13.0,0,0,0,1,34,16.0,437.500000,112000.0,27.764650

### 出力

In [111]:
import feather
all_player.to_feather('intermediate/all_player_4.f')