## pitch2017前処理

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.max_Columns', 100)

In [29]:
train_pitch = pd.read_csv('data/train_pitch.csv')
print(train_pitch.shape)

(257117, 51)

### 球種
0:ストレート 1:カーブ 2:スライダー 3:シュート 4:フォーク 5:チェンジアップ 6:シンカー 7:カットボール

In [30]:
train_pitch.replace({'球種': {
    0: '0_straight', 
    1: '1_curve', 
    2: '2_slider', 
    3: '3_shoot', 
    4: '4_fork', 
    5: '5_changeup', 
    6: '6_sinker', 
    7: '7_cutball'
}}, inplace=True)
train_pitch.rename(columns={'球種': 'ball'}, inplace=True)

In [31]:
pitch_ball = train_pitch[['投手ID','ball']]
pitch_ball = pd.get_dummies(pitch_ball, columns=['ball'])

In [32]:
groupby_id = pitch_ball.groupby('投手ID').sum()

In [33]:
groupby_id['curve'] =  groupby_id['ball_1_curve'] / groupby_id['ball_0_straight']
groupby_id['slider'] =  groupby_id['ball_2_slider'] / groupby_id['ball_0_straight']
groupby_id['shoot'] =  groupby_id['ball_3_shoot'] / groupby_id['ball_0_straight']
groupby_id['fork'] =  groupby_id['ball_4_fork'] / groupby_id['ball_0_straight']
groupby_id['changeup'] =  groupby_id['ball_5_changeup'] / groupby_id['ball_0_straight']
groupby_id['sinker'] =  groupby_id['ball_6_sinker'] / groupby_id['ball_0_straight']
groupby_id['cutball'] =  groupby_id['ball_7_cutball'] / groupby_id['ball_0_straight']
groupby_id['total'] = (groupby_id['ball_0_straight'] + groupby_id['ball_1_curve'] + groupby_id['ball_2_slider']
                       + groupby_id['ball_3_shoot'] + groupby_id['ball_4_fork'] + groupby_id['ball_5_changeup']
                       + groupby_id['ball_6_sinker'] + groupby_id['ball_7_cutball'])

In [34]:
groupby_id.reset_index(inplace=True)

In [36]:
groupby_id.drop(
    columns=[
        'ball_0_straight', 'ball_1_curve', 'ball_2_slider', 'ball_3_shoot', 
        'ball_4_fork', 'ball_5_changeup', 'ball_6_sinker', 'ball_7_cutball'
    ], inplace=True)

In [37]:
groupby_id.head()

,投手ID,curve,slider,shoot,fork,changeup,sinker,cutball,total
0,11606,0.495751,0.000000,0.000000,0.407932,0.000000,0.000000,0.101983,708.0
1,11766,0.000000,0.967290,0.509346,0.000000,0.051402,0.149533,0.000000,573.0
2,11807,0.136157,0.003026,0.016641,0.340393,0.000000,0.000000,0.003026,991.0
3,12103,0.133880,0.581967,0.060109,0.161202,0.000000,0.000000,0.000000,709.0
4,12113,0.038363,0.948849,0.843990,0.000000,0.340153,1.242967,0.913043,2083.0

In [38]:
import feather
groupby_id.to_feather('intermediate/player2017.f')

In [39]:
groupby_id.shape

(326, 9)

In [41]:
groupby_id.describe()

,投手ID,curve,slider,shoot,fork,changeup,sinker,cutball,total
count,3.260000e+02,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000
mean,1.163288e+06,0.257321,0.461623,0.500294,0.186347,0.138092,0.021658,0.146885,788.702454
std,4.161437e+05,2.295388,0.400976,5.221909,0.227734,0.313514,0.104249,0.633629,756.881660
min,1.160600e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
25%,9.253225e+05,0.000000,0.176896,0.000000,0.000000,0.000000,0.000000,0.000000,184.000000
50%,1.300036e+06,0.077167,0.395109,0.000000,0.106137,0.000000,0.000000,0.000000,569.000000
75%,1.500108e+06,0.192714,0.628960,0.233909,0.330539,0.170576,0.000000,0.066470,1031.000000
max,1.700016e+06,41.461538,2.264286,94.153846,1.156364,3.923077,1.242967,10.230769,3004.000000