## pitchとplayerの前処理を統合

In [22]:
import pandas as pd
pd.set_option('display.max_Columns', 100)

In [23]:
ALL_PITCH = 'intermediate/all_pitch_2.f'
ALL_PLAYER = 'intermediate/all_player_1.f'

In [24]:
all_pitch = pd.read_feather(ALL_PITCH)
all_pitch.shape

(778767, 60)

In [25]:
all_player = pd.read_feather(ALL_PLAYER)
all_player.shape

(2757, 13)

### Join
- pitch.投手ID/年度 - player.選手ID/年度
- pitch.打者ID/年度 - player.選手ID/年度
- pitch.捕手ID/年度 - player.選手ID/年度

In [26]:
merge_all = pd.merge(all_pitch, all_player, left_on=['投手ID', '年度'], right_on=['選手ID', '年度'], how='left')

In [27]:
merge_all = pd.merge(merge_all, all_player, left_on=['打者ID', '年度'], right_on=['選手ID', '年度'], how='left', suffixes=['_pit', '_bat'])

In [28]:
merge_all = pd.merge(merge_all, all_player, left_on=['捕手ID', '年度'], right_on=['選手ID', '年度'], how='left')

In [29]:
merge_all.head()

,データ内連番,ball,投球位置区域,年度,試合ID,試合内連番,試合内投球数,ホームチームID,アウェイチームID,イニング,イニング内打席数,打席内投球数,投手ID,投手チームID,投手登板順,投手試合内対戦打者数,投手試合内投球数,投手イニング内投球数,打者ID,打者チームID,打者打順,打者試合内打席数,プレイ前ホームチーム得点数,プレイ前アウェイチーム得点数,プレイ前アウト数,プレイ前ボール数,プレイ前ストライク数,プレイ前走者状況,捕手ID,first,second,third,base_cnt,pitch_LR,bat_LR,top_bot,role,opening_date,game_date,date_from_opening,start_time,game_time,elapsed_time,elapsed_min,ball_cnt_0-0,ball_cnt_0-1,ball_cnt_0-2,ball_cnt_0-3,ball_cnt_1-0,ball_cnt_1-1,ball_cnt_1-2,ball_cnt_1-3,ball_cnt_2-0,ball_cnt_2-1,ball_cnt_2-2,ball_cnt_2-3,pit_bat_L_L,pit_bat_L_R,pit_bat_R_L,pit_bat_R_R,選手ID_pit,firm_pit,height_pit,weight_pit,draft_order_pit,salary_pit,foreigner_pit,company_pit,univ_pit,highsch_pit,age_pit,play_year_pit,選手ID_bat,firm_bat,height_bat,weight_bat,draft_order_bat,salary_bat,foreigner_bat,company_bat,univ_bat,highsch_bat,age_bat,play_year_bat,選手ID,firm,height,weight,draft_order,salary,foreigner,company,univ,highsch,age,play_year
0,0,0.0,0.0,2017,2017033101,1,1,1,4,1,1,1,1500001,1,1,1,1,1,900410,4,1,1,0,0,0,0,0,___,1300027,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2017-03-31,2017-03-31,0,2020-05-02 18:03:00,2020-05-02 18:03:00,00:00:00,0.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1500001,0,196,100,NaN,24000,1,0,0,0,29,NaN,900410,0,176,74,5.0,15000,0,1,1,0,32,8.0,1300027,0,178,83,1.0,5000,0,1,1,0,28,4.0
1,1,0.0,8.0,2017,2017033101,2,2,1,4,1,1,2,1500001,1,1,1,2,2,900410,4,1,1,0,0,0,0,1,___,1300027,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2017-03-31,2017-03-31,0,2020-05-02 18:03:00,2020-05-02 18:03:12,00:00:12,0.200000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1500001,0,196,100,NaN,24000,1,0,0,0,29,NaN,900410,0,176,74,5.0,15000,0,1,1,0,32,8.0,1300027,0,178,83,1.0,5000,0,1,1,0,28,4.0
2,2,0.0,5.0,2017,2017033101,3,3,1,4,1,1,3,1500001,1,1,1,3,3,900410,4,1,1,0,0,0,0,2,___,1300027,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2017-03-31,2017-03-31,0,2020-05-02 18:03:00,2020-05-02 18:03:23,00:00:23,0.383333,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1500001,0,196,100,NaN,24000,1,0,0,0,29,NaN,900410,0,176,74,5.0,15000,0,1,1,0,32,8.0,1300027,0,178,83,1.0,5000,0,1,1,0,28,4.0
3,3,0.0,12.0,2017,2017033101,4,4,1,4,1,2,1,1500001,1,1,2,4,4,11436,4,2,1,0,0,1,0,0,___,1300027,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2017-03-31,2017-03-31,0,2020-05-02 18:03:00,2020-05-02 18:04:01,00:01:01,1.016667,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1500001,0,196,100,NaN,24000,1,0,0,0,29,NaN,11436,0,180,74,1.0,7040,0,0,0,1,40,22.0,1300027,0,178,83,1.0,5000,0,1,1,0,28,4.0
4,4,0.0,8.0,2017,2017033101,5,5,1,4,1,2,2,1500001,1,1,2,5,5,11436,4,2,1,0,0,1,0,1,___,1300027,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2017-03-31,2017-03-31,0,2020-05-02 18:03:00,2020-05-02 18:04:12,00:01:12,1.200000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1500001,0,196,100,NaN,24000,1,0,0,0,29,NaN,11436,0,180,74,1.0,7040,0,0,0,1,40,22.0,1300027,0,178,83,1.0,5000,0,1,1,0,28,4.0

In [30]:
merge_all.columns

Index(['データ内連番', 'ball', '投球位置区域', '年度', '試合ID', '試合内連番', '試合内投球数', 'ホームチームID',
       'アウェイチームID', 'イニング', 'イニング内打席数', '打席内投球数', '投手ID', '投手チームID', '投手登板順',
       '投手試合内対戦打者数', '投手試合内投球数', '投手イニング内投球数', '打者ID', '打者チームID', '打者打順',
       '打者試合内打席数', 'プレイ前ホームチーム得点数', 'プレイ前アウェイチーム得点数', 'プレイ前アウト数', 'プレイ前ボール数',
       'プレイ前ストライク数', 'プレイ前走者状況', '捕手ID', 'first', 'second', 'third',
       'base_cnt', 'pitch_LR', 'bat_LR', 'top_bot', 'role', 'opening_date',
       'game_date', 'date_from_opening', 'start_time', 'game_time',
       'elapsed_time', 'elapsed_min', 'ball_cnt_0-0', 'ball_cnt_0-1',
       'ball_cnt_0-2', 'ball_cnt_0-3', 'ball_cnt_1-0', 'ball_cnt_1-1',
       'ball_cnt_1-2', 'ball_cnt_1-3', 'ball_cnt_2-0', 'ball_cnt_2-1',
       'ball_cnt_2-2', 'ball_cnt_2-3', 'pit_bat_L_L', 'pit_bat_L_R',
       'pit_bat_R_L', 'pit_bat_R_R', '選手ID_pit', 'firm_pit', 'height_pit',
       'weight_pit', 'draft_order_pit', 'salary_pit', 'foreigner_pit',
       'company_pit', 'univ_pit', 'highsch_pit', 'age_pit', 'play_year_pit',
       '選手ID_bat', 'firm_bat', 'height_bat', 'weight_bat', 'draft_order_bat',
       'salary_bat', 'foreigner_bat', 'company_bat', 'univ_bat', 'highsch_bat',
       'age_bat', 'play_year_bat', '選手ID', 'firm', 'height', 'weight',
       'draft_order', 'salary', 'foreigner', 'company', 'univ', 'highsch',
       'age', 'play_year'],
      dtype='object')

In [31]:
merge_all.drop(
    columns=[
        '選手ID_pit', '選手ID_bat', '選手ID'
    ], inplace=True)

In [32]:
import feather
merge_all.to_feather('intermediate/all_merge_1.f')