## pitchとplayerの前処理を統合(10)

In [1]:
import pandas as pd
import feather
pd.set_option('display.max_Columns', 300)

In [2]:
ALL_PITCH = 'intermediate/all_pitch_5.f'
ALL_PLAYER = 'intermediate/all_player_10.f'

In [3]:
all_pitch = pd.read_feather(ALL_PITCH)
all_pitch.shape

(778767, 73)

In [4]:
all_player = pd.read_feather(ALL_PLAYER)
all_player.shape

(2757, 29)

### Join
- pitch.投手ID/年度 - player.選手ID/年度
- pitch.打者ID/年度 - player.選手ID/年度
- pitch.捕手ID/年度 - player.選手ID/年度

In [5]:
merge_all = pd.merge(all_pitch, all_player, left_on=['投手ID', '年度'], right_on=['選手ID', '年度'], how='left')

In [6]:
merge_all = pd.merge(merge_all, all_player, left_on=['打者ID', '年度'], right_on=['選手ID', '年度'], how='left', suffixes=['_pit', '_bat'])

In [7]:
merge_all = pd.merge(merge_all, all_player, left_on=['捕手ID', '年度'], right_on=['選手ID', '年度'], how='left')

### player同士の組み合わせ
- 年棒の差
- 現役年数の差
- 年齢の差
- salary_yearの差
- salary_x_yearの差
- BMIの差

In [8]:
merge_all

,データ内連番,ball,投球位置区域,年度,試合ID,試合内連番,試合内投球数,ホームチームID,アウェイチームID,イニング,イニング内打席数,打席内投球数,投手ID,投手チームID,投手登板順,投手試合内対戦打者数,投手試合内投球数,投手イニング内投球数,打者ID,打者チームID,打者打順,打者試合内打席数,プレイ前ホームチーム得点数,プレイ前アウェイチーム得点数,プレイ前アウト数,プレイ前ボール数,プレイ前ストライク数,プレイ前走者状況,捕手ID,first,second,third,base_cnt,pitch_LR,bat_LR,top_bot,role,pos_pit,opening_date,game_date,date_from_opening,start_time,game_time,elapsed_time,elapsed_min,nighter,ce-pa,league,home,point_diff,runner_23,bant,squize,cleanup,pinch,fourball,savepoint,ball_cnt_0-0,ball_cnt_0-1,ball_cnt_0-2,ball_cnt_0-3,ball_cnt_1-0,ball_cnt_1-1,ball_cnt_1-2,ball_cnt_1-3,ball_cnt_2-0,ball_cnt_2-1,ball_cnt_2-2,ball_cnt_2-3,pit_bat_L_L,pit_bat_L_R,pit_bat_R_L,pit_bat_R_R,選手ID_pit,firm_pit,height_pit,weight_pit,draft_order_pit,salary_pit,curve_pit,slider_pit,shoot_pit,fork_pit,changeup_pit,sinker_pit,cutball_pit,total_pit,pit_game_cnt_pit,pit_inning_cnt_pit,pit_batter_cnt_pit,foreigner_pit,batter_cnt_pit,bat_game_cnt_pit,company_pit,univ_pit,highsch_pit,age_pit,play_year_pit,salary_year_pit,salary_x_year_pit,bmi_pit,選手ID_bat,firm_bat,height_bat,weight_bat,draft_order_bat,salary_bat,curve_bat,slider_bat,shoot_bat,fork_bat,changeup_bat,sinker_bat,cutball_bat,total_bat,pit_game_cnt_bat,pit_inning_cnt_bat,pit_batter_cnt_bat,foreigner_bat,batter_cnt_bat,bat_game_cnt_bat,company_bat,univ_bat,highsch_bat,age_bat,play_year_bat,salary_year_bat,salary_x_year_bat,bmi_bat,選手ID,firm,height,weight,draft_order,salary,curve,slider,shoot,fork,changeup,sinker,cutball,total,pit_game_cnt,pit_inning_cnt,pit_batter_cnt,foreigner,batter_cnt,bat_game_cnt,company,univ,highsch,age,play_year,salary_year,salary_x_year,bmi
0,0,0.0,0.0,2017,2017033101,1,1,1,4,1,1,1,1500001,1,1,1,1,1,900410,4,1,1,0,0,0,0,0,___,1300027,0,0,0,0,0.0,1.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:03:00,00:00:00,0.000000,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1500001,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.000000,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.000000,144000.0,26.030820,900410,0,176,74,5.0,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,523.0,119.0,1,1,0,32,8.0,1875.000000,120000.0,23.889463,1300027,0,178,83,1.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,443.0,135.0,1,1,0,28,4.0,1250.000000,20000.0,26.196187
1,1,0.0,8.0,2017,2017033101,2,2,1,4,1,1,2,1500001,1,1,1,2,2,900410,4,1,1,0,0,0,0,1,___,1300027,0,0,0,0,0.0,1.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:03:12,00:00:12,0.200000,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1500001,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.000000,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.000000,144000.0,26.030820,900410,0,176,74,5.0,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,523.0,119.0,1,1,0,32,8.0,1875.000000,120000.0,23.889463,1300027,0,178,83,1.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,443.0,135.0,1,1,0,28,4.0,1250.000000,20000.0,26.196187
2,2,0.0,5.0,2017,2017033101,3,3,1,4,1,1,3,1500001,1,1,1,3,3,900410,4,1,1,0,0,0,0,2,___,1300027,0,0,0,0,0.0,1.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:03:23,00:00:23,0.383333,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1500001,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.000000,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.000000,144000.0,26.030820,900410,0,176,74,5.0,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,523.0,119.0,1,1,0,32,8.0,1875.000000,120000.0,23.889463,1300027,0,178,83,1.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,443.0,135.0,1,1,0,28,4.0,1250.000000,20000.0,26.196187
3,3,0.0,12.0,2017,2017033101,4,4,1,4,1,2,1,1500001,1,1,2,4,4,11436,4,2,1,0,0,1,0,0,___,1300027,0,0,0,0,0.0,0.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:04:01,00:01:01,1.016667,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1500001,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.000000,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.000000,144000.0,26.030820,11436,0,180,74,1.0,7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,268.0,81.0,0,0,1,40,22.0,320.000000,154880.0,22.839506,1300027,0,178,83,1.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,443.0,135.0,1,1,0,28,4.0,1250.000000,20000.0,26.196187
4,4,0.0,8.0,2017,2017033101,5,5,1,4,1,2,2,1500001,1,1,2,5,5,11436,4,2,1,0,0,1,0,1,___,1300027,0,0,0,0,0.0,0.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:04:12,00:01:12,1.200000,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1500001,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.000000,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.000000,144000.0,26.030820,11436,0,180,74,1.0,7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,268.0,81.0,0,0,1,40,22.0,320.000000,154880.0,22.839506,1300027,0,178,83,1.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,443.0,135.0,1,1,0,28,4.0,1250.000000,20000.0,26.196187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778762,521645,NaN,NaN,2019,2019093001,289,285,5,4,9,3,8,11807,5,6,3,17,17,700034,4,4,2,3,0,1,1,2,_2_,1300073,0,1,0,1,0.0,0.0,1,0,0,2019-03-29,2019-09-30,185,2020-05-03 18:00:00,2020-05-03 21:10:05,03:10:05,190.083333,1,0,1,1,3,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,11807,0,185,89,1.0,14000,0.136157,0.003026,0.016641,0.340393,0.000000,0.0,0.003026,991.0,52.0,61.0,235.0,0,1.0,1.0,0,0,1,39,21.0,666.666667,294000.0,26.004383,700034,0,184,86,1.0,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,168.0,71.0,0,0,1,31,13.0,230.769231,39000.0,25.401701,1300073,0,173,77,4.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,341.0,107.0,0,1,0,28,6.0,833.333333,30000.0,25.727555
778763,521646,NaN,NaN,2019,2019093001,290,286,5,4,9,4,1,11807,5,6,4,18,18,1100069,4,5,4,3,0,2,0,0,_2_,1300073,0,1,0,1,0.0,1.0,1,0,0,2019-03-29,2019-09-30,185,2020-05-03 18:00:00,2020-05-03 21:10:53,03:10:53,190.883333,1,0,1,1,3,1,0,0,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,11807,0,185,89,1.0,14000,0.136157,0.003026,0.016641,0.340393,0.000000,0.0,0.003026,991.0,52.0,61.0,235.0,0,1.0,1.0,0,0,1,39,21.0,666.666667,294000.0,26.004383,1100069,0,180,85,1.0,3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,150.0,41.0,0,0,1,25,8.0,437.500000,28000.0,26.234568,1300073,0,173,77,4.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,341.0,107.0,0,1,0,28,6.0,833.333333,30000.0,25.727555
778764,521647,NaN,NaN,2019,2019093001,291,287,5,4,9,4,2,11807,5,6,4,19,19,1100069,4,5,4,3,0,2,0,1,_2_,1300073,0,1,0,1,0.0,1.0,1,0,0,2019-03-29,2019-09-30,185,2020-05-03 18:00:00,2020-05-03 21:11:21,03:11:21,191.350000,1,0,1,1,3,1,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,11807,0,185,89,1.0,14000,0.136157,0.003026,0.016641,0.340393,0.000000,0.0,0.003026,991.0,52.0,61.0,235.0,0,1.0,1.0,0,0,1,39,21.0,666.666667,294000.0,26.004383,1100069,0,180,85,1.0,3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,150.0,41.0,0,0,1,25,8.0,437.500000,28000.0,26.234568,1300073,0,173,77,4.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,341.0,107.0,0,1,0,28,6.0,833.333333,30000.0,25.727555
778765,521648,NaN,NaN,2019,2019093001,292,288,5,4,9,4,3,11807,5,6,4,20,20,1100069,4,5,4,3,0,2,0,2,_2_,1300073,0,1,0,1,0.0,1.0,1,0,0,2019-03-29,2019-09-30,185,2020-05-03 18:00:00,2020-05-03 21:12:05,03:12:05,192.083333,1,0,1,1,3,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,11807,0,185,89,1.0,14000,0.136157,0.003026,0.016641,0.340393,0.000000,0.0,0.003026,991.0,52.0,61.0,235.0,0,1.0,1.0,0,0,1,39,21.0,666.666667,294000.0,26.004383,1100069,0,180,85,1.0,3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,150.0,41.0,0,0,1,25,8.0,437.500000,28000.0,26.234568,1300073,0,173,77,4.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,341.0,107.0,0,1,0,28,6.0,833.333333,30000.0,25.727555
778766,521649,NaN,NaN,2019,2019093001,293,289,5,4,9,4,4,11807,5,6,4,21,21,1100069,4,5,4,3,0,2,1,2,_2_,1300073,0,1,0,1,0.0,1.0,1,0,0,2019-03-29,2019-09-30,185,2020-05-03 18:00:00,2020-05-03 21:12:48,03:12:48,192.800000,1,0,1,1,3,1,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,11807,0,185,89,1.0,14000,0.136157,0.003026,0.016641,0.340393,0.000000,0.0,0.003026,991.0,52.0,61.0,235.0,0,1.0,1.0,0,0,1,39,21.0,666.666667,294000.0,26.004383,1100069,0,180,85,1.0,3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,150.0,41.0,0,0,1,25,8.0,437.500000,28000.0,26.234568,1300073,0,173,77,4.0,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,341.0,107.0,0,1,0,28,6.0,833.333333,30000.0,25.727555

In [9]:
merge_all['salary_dif_p-b'] = merge_all['salary_pit'] - merge_all['salary_bat']
merge_all['play_year_dif_p-b'] = merge_all['play_year_pit'] - merge_all['play_year_bat']
merge_all['age_dif_p-b'] = merge_all['age_pit'] - merge_all['age_bat']
merge_all['salary_year_dif_p-b'] = merge_all['salary_year_pit'] - merge_all['salary_year_bat']
merge_all['salary_x_year_dif_p-b'] = merge_all['salary_x_year_pit'] - merge_all['salary_x_year_bat']
merge_all['bmi_dif_p-b'] = merge_all['bmi_pit'] - merge_all['bmi_bat']

merge_all['salary_dif_p-c'] = merge_all['salary_pit'] - merge_all['salary']
merge_all['play_year_dif_p-c'] = merge_all['play_year_pit'] - merge_all['play_year']
merge_all['age_dif_p-c'] = merge_all['age_pit'] - merge_all['age']
merge_all['salary_year_dif_p-c'] = merge_all['salary_year_pit'] - merge_all['salary_year']
merge_all['salary_x_year_dif_p-c'] = merge_all['salary_x_year_pit'] - merge_all['salary_x_year']
merge_all['bmi_dif_p-c'] = merge_all['bmi_pit'] - merge_all['bmi']

merge_all['salary_dif_b-c'] = merge_all['salary_bat'] - merge_all['salary']
merge_all['play_year_dif_b-c'] = merge_all['play_year_bat'] - merge_all['play_year']
merge_all['age_dif_b-c'] = merge_all['age_bat'] - merge_all['age']
merge_all['salary_year_dif_b-c'] = merge_all['salary_year_bat'] - merge_all['salary_year']
merge_all['salary_x_year_dif_b-c'] = merge_all['salary_x_year_bat'] - merge_all['salary_x_year']
merge_all['bmi_dif_b-c'] = merge_all['bmi_bat'] - merge_all['bmi']

In [10]:
merge_all.drop(
    columns=[
        '選手ID_pit', '選手ID_bat', '選手ID',
        'curve_bat','slider_bat','shoot_bat','fork_bat','changeup_bat','sinker_bat','cutball_bat','total_bat',
        'pit_game_cnt_bat','pit_inning_cnt_bat','pit_batter_cnt_bat',
        'curve','slider','shoot','fork','changeup','sinker','cutball','total',
        'pit_game_cnt','pit_inning_cnt','pit_batter_cnt',
    ], inplace=True)

In [11]:
print(merge_all.shape)
merge_all.head()

(778767, 150)

,データ内連番,ball,投球位置区域,年度,試合ID,試合内連番,試合内投球数,ホームチームID,アウェイチームID,イニング,イニング内打席数,打席内投球数,投手ID,投手チームID,投手登板順,投手試合内対戦打者数,投手試合内投球数,投手イニング内投球数,打者ID,打者チームID,打者打順,打者試合内打席数,プレイ前ホームチーム得点数,プレイ前アウェイチーム得点数,プレイ前アウト数,プレイ前ボール数,プレイ前ストライク数,プレイ前走者状況,捕手ID,first,second,third,base_cnt,pitch_LR,bat_LR,top_bot,role,pos_pit,opening_date,game_date,date_from_opening,start_time,game_time,elapsed_time,elapsed_min,nighter,ce-pa,league,home,point_diff,runner_23,bant,squize,cleanup,pinch,fourball,savepoint,ball_cnt_0-0,ball_cnt_0-1,ball_cnt_0-2,ball_cnt_0-3,ball_cnt_1-0,ball_cnt_1-1,ball_cnt_1-2,ball_cnt_1-3,ball_cnt_2-0,ball_cnt_2-1,ball_cnt_2-2,ball_cnt_2-3,pit_bat_L_L,pit_bat_L_R,pit_bat_R_L,pit_bat_R_R,firm_pit,height_pit,weight_pit,draft_order_pit,salary_pit,curve_pit,slider_pit,shoot_pit,fork_pit,changeup_pit,sinker_pit,cutball_pit,total_pit,pit_game_cnt_pit,pit_inning_cnt_pit,pit_batter_cnt_pit,foreigner_pit,batter_cnt_pit,bat_game_cnt_pit,company_pit,univ_pit,highsch_pit,age_pit,play_year_pit,salary_year_pit,salary_x_year_pit,bmi_pit,firm_bat,height_bat,weight_bat,draft_order_bat,salary_bat,foreigner_bat,batter_cnt_bat,bat_game_cnt_bat,company_bat,univ_bat,highsch_bat,age_bat,play_year_bat,salary_year_bat,salary_x_year_bat,bmi_bat,firm,height,weight,draft_order,salary,foreigner,batter_cnt,bat_game_cnt,company,univ,highsch,age,play_year,salary_year,salary_x_year,bmi,salary_dif_p-b,play_year_dif_p-b,age_dif_p-b,salary_year_dif_p-b,salary_x_year_dif_p-b,bmi_dif_p-b,salary_dif_p-c,play_year_dif_p-c,age_dif_p-c,salary_year_dif_p-c,salary_x_year_dif_p-c,bmi_dif_p-c,salary_dif_b-c,play_year_dif_b-c,age_dif_b-c,salary_year_dif_b-c,salary_x_year_dif_b-c,bmi_dif_b-c
0,0,0.0,0.0,2017,2017033101,1,1,1,4,1,1,1,1500001,1,1,1,1,1,900410,4,1,1,0,0,0,0,0,___,1300027,0,0,0,0,0.0,1.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:03:00,00:00:00,0.000000,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.0,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.0,144000.0,26.03082,0,176,74,5.0,15000,0,523.0,119.0,1,1,0,32,8.0,1875.0,120000.0,23.889463,0,178,83,1.0,5000,0,443.0,135.0,1,1,0,28,4.0,1250.0,20000.0,26.196187,9000,-2.0,-3,2125.0,24000.0,2.141358,19000,2.0,1,2750.0,124000.0,-0.165367,10000,4.0,4,625.0,100000.0,-2.306725
1,1,0.0,8.0,2017,2017033101,2,2,1,4,1,1,2,1500001,1,1,1,2,2,900410,4,1,1,0,0,0,0,1,___,1300027,0,0,0,0,0.0,1.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:03:12,00:00:12,0.200000,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.0,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.0,144000.0,26.03082,0,176,74,5.0,15000,0,523.0,119.0,1,1,0,32,8.0,1875.0,120000.0,23.889463,0,178,83,1.0,5000,0,443.0,135.0,1,1,0,28,4.0,1250.0,20000.0,26.196187,9000,-2.0,-3,2125.0,24000.0,2.141358,19000,2.0,1,2750.0,124000.0,-0.165367,10000,4.0,4,625.0,100000.0,-2.306725
2,2,0.0,5.0,2017,2017033101,3,3,1,4,1,1,3,1500001,1,1,1,3,3,900410,4,1,1,0,0,0,0,2,___,1300027,0,0,0,0,0.0,1.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:03:23,00:00:23,0.383333,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.0,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.0,144000.0,26.03082,0,176,74,5.0,15000,0,523.0,119.0,1,1,0,32,8.0,1875.0,120000.0,23.889463,0,178,83,1.0,5000,0,443.0,135.0,1,1,0,28,4.0,1250.0,20000.0,26.196187,9000,-2.0,-3,2125.0,24000.0,2.141358,19000,2.0,1,2750.0,124000.0,-0.165367,10000,4.0,4,625.0,100000.0,-2.306725
3,3,0.0,12.0,2017,2017033101,4,4,1,4,1,2,1,1500001,1,1,2,4,4,11436,4,2,1,0,0,1,0,0,___,1300027,0,0,0,0,0.0,0.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:04:01,00:01:01,1.016667,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.0,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.0,144000.0,26.03082,0,180,74,1.0,7040,0,268.0,81.0,0,0,1,40,22.0,320.0,154880.0,22.839506,0,178,83,1.0,5000,0,443.0,135.0,1,1,0,28,4.0,1250.0,20000.0,26.196187,16960,-16.0,-11,3680.0,-10880.0,3.191314,19000,2.0,1,2750.0,124000.0,-0.165367,2040,18.0,12,-930.0,134880.0,-3.356681
4,4,0.0,8.0,2017,2017033101,5,5,1,4,1,2,2,1500001,1,1,2,5,5,11436,4,2,1,0,0,1,0,1,___,1300027,0,0,0,0,0.0,0.0,1,1,0,2017-03-31,2017-03-31,0,2020-05-03 18:03:00,2020-05-03 18:04:12,00:01:12,1.200000,1,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,196,100,NaN,24000,0.459848,0.493939,0.199242,0.023485,0.061364,0.0,0.0,2954.0,27.0,190.0,747.0,1,67.0,26.0,0,0,0,29,6.0,4000.0,144000.0,26.03082,0,180,74,1.0,7040,0,268.0,81.0,0,0,1,40,22.0,320.0,154880.0,22.839506,0,178,83,1.0,5000,0,443.0,135.0,1,1,0,28,4.0,1250.0,20000.0,26.196187,16960,-16.0,-11,3680.0,-10880.0,3.191314,19000,2.0,1,2750.0,124000.0,-0.165367,2040,18.0,12,-930.0,134880.0,-3.356681

In [12]:
merge_all.to_feather('intermediate/all_merge_10.f')